.backgroundLogin{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 15px;
}

.backgroundLoginNotRadius{
    -fx-background-color: #D9D9D9;
}

.backgroundLoginRadius{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 15px 15px 0px 0px;
}

.backgroundLoginWhite{
    -fx-background-color: #F2F2F2;
}

.backgroundPaneWhiteRadius{
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 15px;
}

.backgroundWhite{
    -fx-background-color: #FFFFFF;
}

.buttonSignin{
    -fx-background-color: #87A7FF;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Yu Gothic UI";
}

.buttonSignin:hover{
    -fx-border-color: #4E4E4E;
    -fx-border-radius: 10px;
    -fx-border-width: 0.5px;
    -fx-cursor: hand;
}

.buttonSignin:pressed{
    -fx-background-color: #F2F2F2;
    -fx-text-fill: black;
    -fx-border-width: 1px;
}

.buttonUpdate{
    -fx-background-color: #7EFF76;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Yu Gothic UI";
}

.buttonDelete{
    -fx-background-color: #FF504A;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Yu Gothic UI";
}

.buttonClean{
    -fx-background-color: #FCE453;
    -fx-background-radius: 10px;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: "Yu Gothic UI";
}

.textFontStyle{
    -fx-font-family: "Yu Gothic UI";
}

.textFieldLogin{
    -fx-font-size: 18px;
}

.styletextFieldLeft{
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 10px 0px 0px 10px;
}

.styletextFieldRight{
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 0px 10px 10px 0px;
}

.borderTextFieldlLogin{
    -fx-border-radius: 10px;
    -fx-border-width: 0.5px;
    -fx-border-color: #87A7FF;
}

.borderTextFieldlLogin:hover{
    -fx-border-color: #4E4E4E;
}

.styleCursorHandUnderline:hover{
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-font-size: 13px;
}

.styleCursorHand{
    -fx-cursor: hand;
}

.styleRotate:pressed{
    -fx-rotate: 30px;
}

.styleRadius{
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 10px;
}

.styleRadius:hover{
    -fx-border-color: #87A7FF;
    -fx-border-radius: 10px;
}

.styleForms{
    -fx-fill: #D9D9D9;
    -fx-stroke: #D9D9D9;
}

.styleGradient{
    -fx-background-color: linear-gradient(to right top, #81d6d5, #a4dfee, #cbe7fa, #ebf1fe, #ffffff);
}

.textUnderlineHover:hover{
    -fx-underline: true;
}

.backgroundPaneMenu{
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 15px 15px 0px 0px;
}

.paneDashboardClients{
    -fx-background-color: #90dbf4;
    -fx-background-radius: 15px;
}

.paneDashboardClients:hover{
    -fx-background-color: #a3c4f3;
}

.paneDashboardEarnings{
    -fx-background-color: #fde4cf;
    -fx-background-radius: 15px;
}

.paneDashboardEarnings:hover{
    -fx-background-color: #dde5b6;
}

.paneDashboardProducts{
    -fx-background-color: #cbc0d3;
    -fx-background-radius: 15px;
}

.paneDashboardProducts:hover{
    -fx-background-color: #8e9aaf;
}

.paneDashboardBuys{
    -fx-background-color: #f5f54a;
    -fx-background-radius: 15px;
}

.paneDashboardBuys:hover{
    -fx-background-color: #fbff12;
}

.paneDashboardSales{
    -fx-background-color: #fed0bb;
    -fx-background-radius: 15px;
}

.paneDashboardSales:hover{
    -fx-background-color: #fcb9b2;
}

.panePressedDash:pressed{
    -fx-background-color: #F2F2F2;
}

.textTitleMain{
    -fx-font-size: 30px;
}

.textDashboard{
    -fx-font-size: 15px;
}

.textDashboardData{
    -fx-font-size: 25px;
}

.btnGeneratedReport{
    -fx-background-color: #87A7FF;
    -fx-background-radius: 10px;
    -fx-font-size: 15px;
    -fx-text-fill: #F2F2F2;
}

.backgroundRadius{
    -fx-background-radius: 30px;
}

.backgroundRadiusLeft{
    -fx-background-radius:  30px 0px 0px 30px;
}

.backgroundRadiusRigth{
    -fx-background-radius:  0px 30px 30px 0px;
}

.txtSearch{
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 10px;
    -fx-font-size: 15px;
    -fx-border-color: black;
    -fx-border-width: .5px;
    -fx-border-radius: 10px;
}

.txtSearch:hover{
    -fx-border-width: 1px;
}

.lblClock{
    -fx-font-size: 25px;
    -fx-border-color: #F2F2F2;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-family: "Yu Gothic UI";
}

.lbllogo{
    -fx-font-size: 22px;
    -fx-font-family: "Yu Gothic UI";
}

.table-view{
    -fx-background-color: #D9D9D9;
    -fx-font-size: 15px;
    -fx-font-family: "Yu Gothic UI";
}

.table-view .column-header-background {
    -fx-background-color: #87A7FF;
    -fx-background-radius: 30px;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
}

.table-view .column-header, .table-view .filter{
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: #F2F2F2;
    -fx-font-size: 15px;
    -fx-spacing: 30px;
    -fx-font-family: "Yu Gothic UI";
}

.aligmentTextTable{
    -fx-alignment: center;
}

.rotateButton:pressed{
    -fx-rotate: 15;
}